/* *{
    padding: 0;
    margin:0;
} */

.character{
    background-image: url(../img/avion.png);
    transform: rotate(90deg);
    position: absolute;
}

.meteor{
     border-radius: 50%;
     background-image: url(../img/asteroid-icon-4.jpeg);
     background-repeat: no-repeat;
    position: absolute;
}

.bullet{
    background-image: url(../img/laser.png);
    background-repeat: no-repeat;
    position: absolute;
    transform: rotate(90deg);
}

#board{
    background-image: url(../img/sky.jpeg);
    background-repeat: no-repeat;
    height: 100vh;  
    width: 100vw;/* taKES A % of the screen size */
    position: relative;
    /* margin-left: 20%; */
}
