
.character{
    background-image: url(../img/avion.png);
    transform: rotate(90deg);
    position: absolute;
}

.meteor{
     border-radius: 50%;
     background-image: url(../img/asteroid-icon-4.jpeg);
     background-repeat: no-repeat;
    position: absolute;
}

.bullet{
    background-image: url(../img/laser.png);
    background-repeat: no-repeat;
    position: absolute;
    transform: rotate(90deg);
}

#board{
    background-image: url(../img/sky.jpeg);
    background-repeat: no-repeat;
    height: 100vh;  
    width: 100vw;/* taKES A % of the screen size */
    position: relative;
    /* margin-left: 20%; */
}

#score{
font-family: Permanent Marker, serif;
display: flex;    
/* justify-content: end; */
justify-content: space-evenly;
color: crimson;
font-size: 50px;
}

/* start  */

#start-page{
    background-image: url(../img/sky.jpeg);
    display: flex;
    flex-direction: column;
justify-content: center;
align-items:center;
}

.title{
    margin-top: 5%;
    font-family: Permanent Marker, serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: coral;
}



.intro{
    font-family: Permanent Marker, serif;
    width: 50%;
    margin-top: 1%;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(172, 21, 21);
    font-stretch: condensed;

}


.controles{
width: 200px;
}


#loser{
background-image: url(../img/sky.jpeg);
display: flex;
    justify-content: center;
    align-items: center;
}
/* loser  */

#loser-pg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loser-text{
    margin-top: 10%;
    margin-bottom: 15%;
    font-family: Permanent Marker, serif;
    font-size: 50px;
    color: rgb(193, 16, 16);
}

#try-again{
    display: flex;
    justify-content: center;
    align-items: center;

}

#boton{
    margin-left: 30%;
}